footer {
  color: #999;
  font-size: 0.8em;
  position: relative;
}

footer .ubicacion {
  position:absolute;
  bottom:8vh;
  width:100%;
  text-align:center;
}

footer .horarios {
  position:absolute;
  bottom:5vh;
  width:100%;
  text-align:center;
}

footer .contacto {
  position:absolute;
  bottom:2vh;
  width:100%;
  text-align:center;
}
