@import (reference) "common/default.less";

.footer-data {
  color: #999;
  font-size: 0.8em;
  position: relative;
  height:390px;

  @media @square {
    height:430px;
  }

  @media @narrow, @super-narrow {
    height:610px;
  }
}
