#menu.opened {
  height: 20vh;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

#menu.closed {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#menu {
  position: fixed;
  top: 18vh;
  left: 10%;
  width: 80%;
  background-color: #fff;
  z-index: 30;
  overflow: hidden;
  border-radius: 0.5vh;
  border:1px solid #ddd;
  box-shadow: 2px 2px 5px #ddd;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
      height:20vh;
    }
    99% {
      height: 20vh;
    }
    100%
    {
      opacity: 0;
      height:0;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      height:20vh;
    }
    99% {
      height: 20vh;
    }
    100%
    {
      opacity: 0;
      height:0;
    }
}

#menu.bar,
#menu.tobar {
  top: 10vh;
  left:5%;
  width:90%;
}
