@import (reference) "common/default.less";

#menu .close-menu-btn {
  position: absolute;
  right: 1%;
  top: 1vh;
  height: 6vh;
}

#menu .close-menu-btn button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

#menu .close-menu-btn button:hover .fa {
  color: @color-5;
}

#menu .close-menu-btn .fa {
  color: #777;
  font-size: 6vh;
}
