@import (reference) "common/default.less";

header .site-title {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    @media @narrow, @super-narrow {
      left: 0;
      top: 10px;
      width: 100%;
  }
}

header .site-title .logo{
    position:absolute;
    top:0;
    left:10px;
    background-image: url('/public/assets/images/bp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 31px;
    cursor:pointer;
    @media @narrow, @super-narrow {
      height: 40px;
    }
}

header .site-title .logo:hover {
  filter: brightness(80%);
}

header .site-title .title {
    position:absolute;
    left: 50px;
    top: 5px;
    width:500px;

    @media @narrow, @super-narrow {
      left:0;
      width: 100%;
      position: absolute;
      text-align: center;
      margin:0;
    }
}

header .site-title .title a {
    font-size: 14px;
    font-weight: bold;
    margin:0;
    line-height: 14px;
}

header.bar .site-title .title div,
header.tobar .site-title .title div {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  margin-top:3px;
}

header.bar .site-title .title .bapro,
header.tobar .site-title .title .bapro {
}

header .site-title .title .bapro a {
    color: @color-4;
}

header .site-title .title .emma a {
    color: #333;
    font-size: 16px;

}

header .site-title .title a:hover {
    color: @color-5;
}

/* PANTALLA PRINCIPAL */

header.full .site-title,
header.tofull .site-title {
  width:100%;
}

header.full .site-title .logo,
header.tofull .site-title .logo {
    background-image: url('/public/assets/images/bp.png');
    top:70px;
    height: 72px;
    width: 60px;
    left: 46px;

    @media @square {
      height: 62px;
      width: 53px;
    }

    @media @narrow, @super-narrow {
      top:0;
      left:10px;
      height: 40px;
      width: 31px;
    }
}

header.full.menu-opened .site-title,
header.tofull.menu-opened .site-title {
  left:8%;

  @media @square {
    left: 2%;
  }

  @media @narrow, @super-narrow {
    left:0;
  }
}

header.full .site-title .title,
header.tofull .site-title .title {
  top: 88px;
  left: 120px;
  width: 100%;

  @media @square {
    left: 112px;
  }

  @media @narrow, @super-narrow {
    top: 80px;
    left:0;
  }
}

header.full .site-title .subtitle,
header.tofull .site-title .subtitle {
  position: absolute;
  top: 156px;
  left: 49px;
  width: 560px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 25px;
  color: #aaa;

  @media @square {
    top:145px;
    padding-top: 7px;
    font-size:20px;
  }

  @media @narrow, @super-narrow {
    top: 130px;
    left: 10%;
    width: 80%;
    text-align:center;
    font-size: 18px;
    padding-top: 5px;
  }
}

header.full.menu-opened .site-title .subtitle,
header.tofull.menu-opened .site-title .subtitle {
  display:none;
}

header.bar .site-title .subtitle,
header.tobar .site-title .subtitle {
  display:none;
}

header.full.menu-opened .site-title .title,
header.tofull.menu-opened .site-title .title {
  top: 88px;
  left: 120px;

  @media @square {
    left: 120px;
  }

  @media @narrow, @super-narrow {
    top: 40px;
    left: 0;
  }
}

header.full .site-title .title div,
header.tofull .site-title .title div {
  width:100%;
}

header.full .site-title .title .emma a,
header.tofull .site-title .title .emma a {
  font-size:37px;
  color: #555;
  @media @square {
    font-size:32px;
  }

  @media @narrow, @super-narrow {
    font-size: 2em;
  }
}

header.full .site-title .title .bapro a,
header.tofull .site-title .title .bapro a {
  font-size:32px;
  line-height: normal;
  color: @color-4;
  @media @square {
    font-size:25px;
  }

  @media @narrow, @super-narrow {
    font-size: 1.5em;
    line-height: 1.4em;
  }
}
