@import (reference) "common/default.less";

header .site-title {}

header .site-title .bapro {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

header .site-title .bapro .logo {
  display:none;
}

header .site-title .title {
  position: absolute;
  left: 20px;
  top: 23px;
  width: 200px;
}

header .site-title .title a {
  font-size: 16px;
  font-weight: bold;
  color: @color-2;

}

header .site-title .subtitle {
  display: block;
  position: absolute;
  top: 23px;
  left: 200px;
  width: 560px;
  font-size: 1em;
  color: #aaa;

  @media @square, @narrow, @super-narrow {
    display:none;
  }
}

/* PANTALLA PRINCIPAL */

header.full .site-title .bapro .logo,
header.tofull .site-title .bapro .logo {
  display: block;
  position: absolute;
  top: 108px;
  right: 50px;
  background-image: url('/public/assets/images/bapro/bapro_100h.jpg');
  background-size: auto 80px;
  background-repeat: no-repeat;
  height: 80px;
  width: 210px;
  cursor: pointer;

  @media @square {
    background-size: auto 60px;
    height: 60px;
    width: 170px;
  }

  @media @narrow, @super-narrow {
    width:100%;
    background-position: center;
    right:0;
    top: 140px;
    background-size: auto 50px;
    height: 50px;

  }
}

header.full .site-title .title,
header.tofull .site-title .title {
  position: absolute;
  left: 50px;
  top: 98px;
  width: 500px;

  @media @narrow, @super-narrow {
    left: 0;
    top: 70px;
    width: 100%;
    text-align: center;
  }
}

header.full .site-title .title a,
header.tofull .site-title .title a {
  font-size: 50px;
  font-weight: normal;
  font-style: italic;
  color: @color-6;

  @media @square {
    font-size: 40px;
  }

  @media @narrow, @super-narrow {
    font-size: 25px;
  }
}

header.full .site-title .subtitle,
header.tofull .site-title .subtitle {
  display: block;
  position: absolute;
  top: 156px;
  left: 50px;
  width: 560px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 25px;
  color: #aaa;

  @media @square {
    top:145px;
    padding-top: 7px;
    font-size:20px;
    width:450px;
  }

  @media @narrow, @super-narrow {
    top: 100px;
    left: 10%;
    width: 80%;
    text-align:center;
    font-size: 18px;
    padding-top: 5px;
  }
}
