@import (reference) "common/default.less";

/*

.fullHeader {
  position: absolute;
  left: 10%;
  top:0;
  width: 80%;
  height: 100vh;
  border-radius: 0 0 0.5vh 0.5vh;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #ddd;
  z-index:20;

  @media @narrow, @super-narrow {
    top:0;
    left:0;
    width:100%;
    height: 8vh;
    position:fixed;
      box-shadow: 0px 0px 3px #aaa;
  }
}

.barHeader {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 0px 3px #aaa;
  z-index:20;
}

header.full {
  .fullHeader;
}

header.tofull {
  .fullHeader;

  -webkit-animation: toTheFull 0.5s ease forwards;
  animation: toTheFull 0.5s ease forwards;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

header.bar {
  .barHeader;
}

header.tobar {
  .barHeader;

  -webkit-animation: toTheBar 0.5s ease forwards;
  animation: toTheBar 0.5s ease forwards;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  @media @narrow, @super-narrow {
    animation: none;
    box-shadow: 0px 0px 3px #aaa;
  }
}

@keyframes toTheBar {
    0% {
      width: 80%;
      left: 10%;
      height:18vh;
    }
    99% {
      width:100%;
      left:0;
      height:8vh;
      box-shadow: none;
    }
    100% {
      box-shadow: 0px 0px 3px #aaa;
    }
}

@-webkit-keyframes toTheBar {
    0% {
      width: 80%;
      left: 10%;
      height:18vh;
    }
    99% {
      width:100%;
      left:0;
      height:8vh;
      box-shadow: none;
    }
    100% {
      box-shadow: 0px 0px 3px #aaa;
    }
}

@keyframes toTheFull {
    0% {
      width:100%;
      left:0;
      height:8vh;
    }
    1% {
      box-shadow: none;
    }
    100% {
      width: 80%;
      left: 10%;
      height:18vh;
    }
}
@-webkit-keyframes toTheFull {
    0% {
      width:100%;
      left:0;
      height:8vh;
    }
    1% {
      box-shadow: none;
    }
    100% {
      width: 80%;
      left: 10%;
      height:18vh;
    }
}

*/
header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index:20;
}

header.full,
header.tofull {
  background-color: transparent;
}

header.bar,
header.tobar {
  background-color: #fff;
  box-shadow: 0px 0px 3px #aaa;
}
