@import (reference) "common/default.less";

header .menu-trigger {
  position: absolute;
  right: 20px;
  top: 10px;

  @media @narrow, @super-narrow {
    right: 10px;
  }
}

header .menu-trigger .fa {
  font-size: 40px;
}

header.full .menu-trigger .fa,
header.tofull .menu-trigger .fa {
  color: @color-3;
}

header.bar .menu-trigger .fa,
header.tobar .menu-trigger .fa {
  color: @color-3;
}

header .menu-trigger button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

header.full .menu-trigger button:hover .fa,
header.tofull .menu-trigger button:hover .fa {
  color: @color-4;
}

header.bar .menu-trigger button:hover .fa,
header.tobar .menu-trigger button:hover .fa {
  color: @color-4;
}
