@import (reference) "common/default.less";

#archive-ejes {
  position:relative;
  padding-bottom: 20px;
  padding-top: 80px;
}

#archive-ejes h1 {
  margin-left: 5%;
  width: 90%;
  font-size: 2.5em;
}
