section#home-inicio {
    z-index: 20;
}

section#home-inicio .slider {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 40;
    
    background-color: #000000;   
    background-position: center;
    background-size: cover;
}

section#home-inicio .slider .slider-effect {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 41;
    
    background-position: center;
    background-size: cover;
}

section#home-inicio ul.secciones {
    position: absolute;
    top: 30vh;
    left: 10%;
    width: 80%;
    height: 30vh;
}

section#home-inicio ul.secciones li{
    float:left;
    width: 23.3%;
    margin: 5%;
    height: 30vh;
    text-align:center;
}

section#home-inicio ul.secciones li .img {
    width:90%;
    margin:auto;
    height:20vh;
    border:2px solid #fff;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 2px 2px 5px #000;
}

section#home-inicio ul.secciones li .img a {
    display:block;
    width:100%;
    height:100%;
}

section#home-inicio ul.secciones li:hover .img {
    transform: scale(1.1);
}

section#home-inicio ul.secciones li h2 {
    text-align: center;
}

section#home-inicio ul.secciones li h2 a{
    color:#fff;
    text-shadow: 2px 2px 5px #000;
}

section#home-inicio ul.secciones li:hover h2 a{
    font-weight:bold;
}